<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <ion-label ng-show="connectionError">Connection Failed</ion-label>
    <ion-list>
      <ion-toggle  ng-model="settings.livingRoomLight" ng-change="commandLight()">
        Living Room Light
      </ion-toggle>
    </ion-list>

    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series"
            chart-click="onClick" >
    </canvas>

    <div class="progress-wrapper">
    <div round-progress max="100"  current="temperature"  color="{{tempColor}}"  bgcolor="rgba(197, 190, 190, 0.4)"  stroke="10" responsive="true" offset="40" show-current="true"></div>
    <div class="text" ng-style="{'color':tempColor}" ng-bind="temperature">50</div>
    </div>

    </div>
  </ion-content>
</ion-view>
